.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  font-family: serif;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 15px;
}

.right-nav > ul > li {
  margin-left: 5px;
}

.right-nav > ul > li:last-of-type {
  font-size: 12pt;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.left-nav span {

}


.right-nav i {

}

